absl-py==2.3.1
apafib==0.3.0
appnope==0.1.4
asttokens==3.0.1
astunparse==1.6.3
attrs==25.4.0
beautifulsoup4==4.14.3
bleach==6.3.0
bleak==2.0.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
cloudpickle==3.1.1
comm==0.2.3
contourpy==1.3.3
cramjam==2.11.0
curl_cffi==0.13.0
cycler==0.12.1
debugpy==1.8.17
decorator==4.4.2
distlib==0.4.0
dm-tree==0.1.9
docstring_parser==0.17.0
duckdb==1.5.0
einops==0.8.1
etils==1.13.0
executing==2.2.1
Farama-Notifications==0.0.4
fastparquet==2025.12.0
filelock==3.19.1
flatbuffers==25.9.23
fonttools==4.60.1
forex-python==1.9.2
frozendict==2.4.7
fsspec==2026.2.0
gast==0.6.0
google-pasta==0.2.0
googleapis-common-protos==1.72.0
graphviz==0.21
grpcio==1.76.0
gymnasium==1.2.1
h5py==3.15.1
idna==3.11
imageio==2.37.0
imageio-ffmpeg==0.6.0
imbalanced-learn==0.14.1
imblearn==0.0
immutabledict==4.2.2
importlib_resources==6.5.2
iniconfig==2.3.0
ipykernel==7.1.0
ipython==9.7.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyterlab_widgets==3.0.16
kaggle==2.0.0
kagglehub==0.3.13
kagglesdk==0.1.16
keras==3.12.0
kiwisolver==1.4.9
libclang==18.1.1
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
matplotlib-inline==0.2.1
mdurl==0.1.2
ml_dtypes==0.5.4
moviepy==1.0.3
mpmath==1.3.0
multitasking==0.0.12
namex==0.1.0
nest-asyncio==1.6.0
networkx==3.5
normflows==1.7.3
numpy==2.4.3
opt_einsum==3.4.0
optree==0.18.0
owl2else==0.9.5
packaging==26.0
pandas==3.0.1
parso==0.8.5
peewee==4.0.1
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.9.4
pluggy==1.6.0
proglog==0.1.12
promise==2.3
prompt_toolkit==3.0.52
protobuf==6.33.6
psutil==7.1.3
ptyprocess==0.7.0
pure_eval==0.2.3
py4j==0.10.9.9
pyarrow==23.0.1
pycparser==3.0
Pygments==2.19.2
pyobjc-core==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-CoreBluetooth==12.1
pyobjc-framework-libdispatch==12.1
pyparsing==3.2.5
pyspark==3.3.4
pytest==9.0.2
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytz==2026.1.post1
PyYAML==6.0.3
pyzmq==27.1.0
rdflib==7.2.1
remotezip==0.12.3
requests==2.32.5
rich==14.2.0
scikit-learn==1.8.0
scipy==1.16.3
seaborn==0.13.2
setuptools==80.9.0
simple-parsing==0.1.7
simplejson==3.20.2
six==1.17.0
sklearn-compat==0.1.5
soupsieve==2.8.3
stack-data==0.6.3
swig==4.4.0
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
tensorflow-datasets==4.9.9
tensorflow-metadata==1.17.2
termcolor==3.2.0
text-unidecode==1.3
threadpoolctl==3.6.0
toml==0.10.2
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
tornado==6.5.2
tqdm==4.67.3
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.3
virtualenv==20.34.0
wcwidth==0.2.14
webencodings==0.5.1
websockets==16.0
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.15
wrapt==2.0.1
yfinance==1.2.0
zipp==3.23.0
